<% content_for :head do %>
  <meta http-equiv="refresh" content="30">
<% end %>

<h1>Buses</h1>

<% @arrivals.each do |stop| %>
  <% if stop.nil? %>
    <p>Invalid stop code.</p>
  <% elsif stop.empty? %>
    <p>No upcoming arrivals.</p>
  <% else %>
    <ul>
      <% stop.each do |bus| %>
        <li>
          <%= bus['lineName'] %>
          to <%= bus['destinationName'] %>
          arriving in <%= bus['timeToStation'] / 60 %> minutes
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
