<h1>Buses</h1>

<ul>
  <% @buses.each do |bus| %>
    <li>
      <%= bus['lineName'] %>
      to <%= bus['destinationName'] %>
      arriving in <%= bus['timeToStation'] / 60 %> minutes
    </li>
  <% end %>
</ul>
